<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
        <!-- Config here. -->
    </web-app>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>keebServlet</servlet-name>
        <servlet-class>controller.keebServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mouseServlet</servlet-name>
        <servlet-class>controller.mouseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>padServlet</servlet-name>
        <servlet-class>controller.padServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>switchServlet</servlet-name>
        <servlet-class>controller.switchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>controller.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailServlet</servlet-name>
        <servlet-class>controller.DetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccounInfoServlet</servlet-name>
        <servlet-class>controller.AccounInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterServlet</servlet-name>
        <servlet-class>controller.FilterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCartServlet</servlet-name>
        <servlet-class>controller.AddCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>controller.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyServlet</servlet-name>
        <servlet-class>controller.BuyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCartServlet</servlet-name>
        <servlet-class>controller.ShowCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessServlet</servlet-name>
        <servlet-class>controller.ProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseServlet</servlet-name>
        <servlet-class>controller.PurchaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <servlet-class>controller.UpdateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>controller.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProductServlet</servlet-name>
        <servlet-class>controller.ManageProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>controller.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>controller.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountCheckoutServlet</servlet-name>
        <servlet-class>controller.UpdateAccountCheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelBillServlet</servlet-name>
        <servlet-class>controller.CancelBillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompleteBillServlet</servlet-name>
        <servlet-class>controller.CompleteBillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageBillServlet</servlet-name>
        <servlet-class>controller.ManageBillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProceedBillServlet</servlet-name>
        <servlet-class>controller.ProceedBillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelBillAdminServlet</servlet-name>
        <servlet-class>controller.CancelBillAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>keebServlet</servlet-name>
        <url-pattern>/keeb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mouseServlet</servlet-name>
        <url-pattern>/mouse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>padServlet</servlet-name>
        <url-pattern>/pad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>switchServlet</servlet-name>
        <url-pattern>/switch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailServlet</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccounInfoServlet</servlet-name>
        <url-pattern>/info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterServlet</servlet-name>
        <url-pattern>/filter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCartServlet</servlet-name>
        <url-pattern>/addCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyServlet</servlet-name>
        <url-pattern>/buy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCartServlet</servlet-name>
        <url-pattern>/show</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessServlet</servlet-name>
        <url-pattern>/process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseServlet</servlet-name>
        <url-pattern>/purchase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <url-pattern>/updateAcc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/deleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProductServlet</servlet-name>
        <url-pattern>/manage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/addProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/updateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountCheckoutServlet</servlet-name>
        <url-pattern>/updatecheckout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelBillServlet</servlet-name>
        <url-pattern>/cancelBill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompleteBillServlet</servlet-name>
        <url-pattern>/completeBill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageBillServlet</servlet-name>
        <url-pattern>/manageBill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProceedBillServlet</servlet-name>
        <url-pattern>/proceedBill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelBillAdminServlet</servlet-name>
        <url-pattern>/cancelBillAd</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            20
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
